name: CI - Build and Push to ECR

on:
    push:
        branches: ['main']

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}
            - name: Login to ECR
              uses: aws-actions/amazon-ecr-login@v2
            
            - name: Build, tag, and push image
              run: |
                IMAGE_TAG=${{ github.sha }}
                docker build -t ${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG .
                docker tag ${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG
                docker push ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG

            - name: Upload image tag
              run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV




