name: CI Pipeline

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: python
              uses: actions/setup-python@v4
              with:
                python-version: "3.12"

            - name: Install Dependencies
              run: pip install -r app/requirements.txt

            - name: Run Test
              run: echo "No test yet"

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME}}
                password: ${{ secrets.DOCKERHUB_TOKEN}}

            - name: Build Docker Image
              run: docker build -t ${{ secrets.DOCKERHUB_USERNAME}}/simple-app:latest .

            - name: Push Docker Image
              run: docker push ${{ secrets.DOCKERHUB_USERNAME}}/simple-app:latest